* {
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  border: none;
  outline: 0;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */

img {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body,
#root {
  min-height: 100svh;

  background-color: #f0f0f0;
}
.main {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 40px;
  padding-bottom: 100px;
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media screen and (max-width: 1023px) {
  .main {
    max-width: 360px;
  }
}
.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Fuv {
  font-size: 18px;
  padding: 14px 20px;
}
@media screen and (max-width: 1023px) {
  .Fuv {
    display: none;
  }
}
.traxater {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 1023px) {
  .traxater {
    display: none;
  }
}
.Puk {
  padding: 14px 20px;
  font-size: 18px;
  background-color: white;
}

.NEEEGGGAAA {
  background-color: black;
  color: white;
}
.Z_little {
  display: none;
}
@media screen and (max-width: 1023px) {
  .Z_little {
    display: block;
  }
}
.step {
  padding: 0 auto;

  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .step {
    flex-direction: column;
  }
}
.frame {
  height: 100%;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tex1 {
  font-size: 70px;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .tex1 {
    font-size: 40px;
  }
}
.tex2 {
  font-size: 18px;
  padding-top: 20px;
}
.group1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 auto;
  height: auto;
  align-items: flex-start;
  padding-top: 40px;
}
::placeholder {
  color: black;
  opacity: 1;
  font-size: 18px;
}
.kno {
  padding: 14px 16px;

  background-color: white;

  width: 100%;

  font-size: 18px;
}
.kno::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.kar {
  font-size: 15px;
  background-color: black;
  color: white;
  height: 50px;
  width: 100px;
}
.kart {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1023px) {
  .kart {
    gap: 8px;
    justify-content: center;
  }
}
.raz {
  padding: 14px 20px;
}
.dva {
  padding: 14px 20px;
}
.tri {
  padding: 14px 20px;
}
@media screen and (max-width: 1023px) {
  .raz,
  .dva,
  .tri {
    padding: 0;
    max-width: 100px;
  }
  .photo {
    display: none;
  }
}
.step2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.abort {
  border: 2px solid black;

  padding: 6px 20px;

  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.textt {
  font-size: 60px;
}
.textt2 {
  font-size: 18px;
}

.olist {
  margin-left: 18px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.olist-item {
  list-style: square;

  font-size: 20px;
}
.step3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fram {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.how {
  border: 2px solid black;

  padding: 6px 20px;

  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.buil {
  font-size: 60px;
}
@media screen and (max-width: 1023px) {
  .buil {
    font-size: 30px;
  }
}
.pizda_mne {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.zagolovog {
  font-size: 26px;
  font-weight: 700;
}
.pisanina {
  padding-top: 15px;
  font-size: 18px;
}
.step4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.fra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}
.pricing {
  border: 2px solid black;

  padding: 6px 20px;

  font-size: 14px;
  font-style: italic;
  text-align: center;
}
.select {
  font-weight: 700;
  font-size: 50px;
  text-align: end;

  height: 0 auto;
}
@media screen and (max-width: 1023px) {
  .select {
    font-size: 30px;
  }
}
.tteexxtt {
  font-size: 18px;
  text-align: end;
  width: 360px;
  height: 0 auto;
}
.step5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1023px) {
  .step5 {
    flex-direction: column;
  }
}
.v_axye1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 2px solid black;
  width: 304px;
  padding: 40px;
}
.dollar {
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
}
.and {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.spermo {
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}
.slova {
  padding-top: 25px;
  font-size: 20px;
  width: 170px;
  font-weight: 700;
}

.oll {
  margin-left: 18px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.oll-item {
  list-style: square;
  font-weight: 600;
  font-size: 20px;
}

.voo {
  padding: 20px 61px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 20px;
}
.v_axye2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;

  width: 304px;
  padding: 40px;
}
.dollar1 {
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.spermo1 {
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: white;
}
.slova1 {
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 20px;
  width: 170px;
  font-weight: 700;
  color: white;
}
.oll1 {
  margin-left: 18px;

  padding-bottom: 77px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.oll-item1 {
  list-style: square;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.voo1 {
  padding: 20px 61px;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 20px;
}
.v_axye3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 2px solid black;
  width: 304px;
  padding: 40px;
}
.slova2 {
  padding-top: 22px;
  padding-bottom: 30px;
  font-size: 20px;
  width: 170px;
  font-weight: 700;
}
.oll2 {
  margin-left: 18px;

  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.oll-item2 {
  list-style: square;

  font-weight: 600;
  font-size: 20px;
}
.voo2 {
  padding: 20px 61px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 20px;
}
.step6 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.framma {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fuck {
  border: 2px solid black;
  padding: 6px 20px;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.cum {
  padding-top: 40px;
  font-size: 60px;
}
.govno {
  padding-top: 20px;
  font-size: 20px;
}
.vopros {
  padding-top: 40px;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
  margin: 0 auto;
}
.con {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}
.bor {
  padding-top: 30px;

  font-size: 24px;
  font-style: italic;
  font-weight: 500;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: gray 3px solid;
}
.fe {
  padding-top: 25px;
}
.step7 {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
}
@media screen and (max-width: 1023px) {
  .step7 {
    flex-direction: column;
    align-items: center;
  }
}
.fr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.zxc {
  padding-top: 50px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  width: 360px;
  height: 120;
  padding-bottom: 50px;
}
.inp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: auto;
  gap: 50px;
  padding: 0 auto;
  padding-bottom: 150px;
}
.ent {
  padding: 14px 20px;
  background-color: white;
}
.sub {
  font-size: 18px;

  color: white;

  border: 2px solid white;
  padding: 14px 20px;

  text-align: center;
}
.sobaka {
  font-size: 16px;
  color: white;
  padding-bottom: 30px;
}
.resonance {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.aboobs {
  padding-right: 60px;
}
.mega_last {
  font-size: 18px;
  color: white;
  padding: 20px 5px;
}
.mega_last2 {
  color: white;
  font-size: 18px;
  padding: 20px 5px;
}
.osobennie {
  padding-top: 50px;
}
.dada {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-style: italic;
}
.last_kartochki {
  padding-left: 5px;
}
.ooo {
  padding: 5px 8px;
}
@media screen and (max-width: 1023px) {
  .pho,
  .foto,
  .kartochka {
    display: none;
  }
}
